/* RESET */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

/* HEADER */
.site-header {
  width: 100%;
}

/* 🔥 TOP BAR */
.top-bar {
  display: flex;
  align-items: center;   /* 🔥 center align */
  justify-content: space-between;
  height: 100px;         /* 🔥 FIXED HEIGHT */
  padding: 0 5px;
  overflow: hidden;      /* 🔥 extra content hide */
}
.contact-details {
  font-size: 12px;
  line-height: 1.2;
  max-height: 80px;   /* 🔥 height limit */
  overflow: hidden;
     /* 🔥 extra hide */
}

/* LOGO */
.logo-section {
  display: flex;
  align-items: center;
}
.logo-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;   /* 🔥 முக்கியம் */
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;   /* 🔥 circle fill ஆகும் */
}
/* TITLE */
.title-box {
  text-align: center;
  
}

.title-box h1 {
  margin: 0;
  font-size: 32px;
  letter-spacing: 2px;
}

.title-box span {
  font-size: 14px;
  color: #1f1d1d;
}

/* CONTACT */
.contact-details {
  text-align: right;
  font-size: 14px;
}

/* 🔥 MENU BAR */
.main-nav {
  background: #000;
  border-top: 2px solid gold;
}

.main-nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav li {
  padding: 14px 35px;
  color: white;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
}

/* 🔥 Hover effect */
.main-nav li:hover {
  color: gold;
}

/* 🔥 Underline Animation */
.main-nav li::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  background: gold;
  left: 0;
  bottom: 0;
  transition: 0.3s;
}

.main-nav li:hover::after {
  width: 100%;
}

/* ACTIVE */
.main-nav li.active {
  color: gold;
}

/* 🔥 MOBILE */
@media (max-width: 768px) {

  .top-bar {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 10px;
  }

  .contact-details {
    text-align: center;
  }

  .main-nav ul {
    flex-direction: column;
  }

  .main-nav li {
    border-top: 1px solid #444;
  }
}